@media (min-width: 501px) {
	body > * {
		padding: 0 10%;
	}

	header {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.mobile {
		display: none;
	}
	.desktop-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.desktop-menu li {
		margin: 0 1rem;
		font-weight: 700;
		color: var(--DarkGrayishViolet);
	}
	.desktop-menu li:last-child {
		border: 2px solid var(--DarkGrayishViolet);
		padding: 0.5rem 1rem;
		color: black;
	}
	/* Section A */
	.section-a {
		flex-direction: row-reverse;
		text-align: left;
		padding: 0 10%;
	}

	.section-a .intro-img {
		transform: translateY(20%);
		flex: 1;
	}

	.section-a .intro-text {
		flex: 1;
		text-align: left;
		justify-content: space-evenly;
		align-items: flex-start;
	}

	.intro-text h1 {
		font-size: 4rem;
		line-height: 3.7rem;
	}

	.intro-text p {
		padding-right: 1rem;
		line-height: 1.6rem;
		color: var(--VeryLightGray);
	}

	.intro-text a {
		width: 150px;
	}

	/* Section B */
	.section-b {
		text-align: left;
		justify-content: center;
		margin-top: 5rem;
	}

	.section-b h2 {
		width: 80vw;
		font-size: 4rem;
		margin-bottom: 2rem;
	}
	.section-b .features-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 80vw;
		text-align: left;
	}

	.section-b p {
		padding: 0 !important;
	}
	/* Section C */
	.section-c .container {
		flex-direction: row;
		background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
		background-repeat: no-repeat;
		background-position: right;
		background-size: auto;
		justify-content: space-between;
		padding: 0 6rem;
		width: 80%;
	}
	.container h4 {
		text-align: left;
		line-height: 3rem;
		padding-right: 10%;
		font-size: 3rem;
	}
	.section-c .container a {
		width: 200px;
		min-width: 200px;
	}

	footer {
		flex-direction: column;
		justify-content: center;
		min-height: fit-content;
	}
	footer .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	footer .info {
		display: flex;
		justify-content: space-around;
		text-align: left;
	}
}
